@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Login";
}


<h1 class="text-center">Log in to <span class="fj-title">FluffyJohn</span></h1>
<br />
<div class="row" style="width: 25%; position: absolute; left: 50%; transform:translateX(-50%); background: rgba(200, 200, 200, 0.05); padding: 2em 2.5em; border-radius: 2em; border: 2px solid rgba(200, 200, 200, 0.2);">
    <div>
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h3>Username: </h3>
                <div class="form-floating">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Username" class="form-label"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div> <br />

                <h3>Password: </h3>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div> <br />
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div> <br />
                <div class="text-center">
                    <p> Don't have an account for FluffyJohn yet? You can 
                        <a asp-page="./Register" asp-route-returnUrl="@Model!.ReturnUrl">register as a new user</a>!
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
