:root {
    --fluffyjohn-blue: rgb(20, 20, 23);
    --font-white: rgb(250, 250, 255);
    color-scheme: dark;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand {
    color: rgba(240, 240, 240, 0.7) !important; /* Yes, it has to be !important-ed. KILL ME. */
}

.navbar-brand:hover {
    color: rgba(240, 240, 240, 1) !important;
}

html {
  position: relative;
  min-height: 100%;
}

body, html {
    padding: 0;
    margin: 0;
    color: var(--font-white);
    background-color: var(--fluffyjohn-blue);
}

.fluffyjohn-bg {
    background-color: var(--fluffyjohn-blue);
}

.slight-dark {
    background: rgba(0, 0, 10, 0.25);
}

.nav-link {
    transition: 0s;
}

.nav-link:hover {
    transition: 0s;
}

@font-face {
    font-family: "Krona One";
    src: url("../fonts/KronaOne-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf") format('truetype');
}

.fj-title {
    font-family: "Krona One", sans-serif !important;
}

body {
    font-family: "Plus Jakarta Sans", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}