:root {
    --fluffyjohn-blue: rgb(20, 20, 23);
    --font-white: rgb(250, 250, 255);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand {
    color: rgba(240, 240, 240, 0.7) !important; /* Yes, it has to be !important-ed. KILL ME. */
}

.navbar-brand:hover {
    color: rgba(240, 240, 240, 1) !important;
}

html {
  position: relative;
  min-height: 100%;
}

body, html {
    padding: 0;
    margin: 0;
    color: var(--font-white);
    background-color: var(--fluffyjohn-blue);
}

.fluffyjohn-bg {
    background-color: var(--fluffyjohn-blue);
}

.slight-dark {
    background: rgba(0, 0, 10, 0.25);
}