:root {
    --fluffyjohn-blue: rgb(20, 20, 23);
    --font-white: rgb(250, 250, 255);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand:hover {
    color: rgba(240, 240, 240, 0.5) !important; /* css i fking hate you */
}

html {
  position: relative;
  min-height: 100%;
}

body, html {
    padding: 0;
    margin: 0;
    color: var(--font-white);
    background-color: var(--fluffyjohn-blue);
}

.fluffyjohn-bg {
    background-color: var(--fluffyjohn-blue);
}

.slight-dark {
    background: rgba(0, 0, 10, 0.25);
}