.item-entry-wrapper {
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    margin: 0.3em 0.15em;
    padding: 0.3em 0.5em;
    border-radius: 0.2em;
    width: 75%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(180, 180, 180);
    font-size: 1.32em;
    cursor: pointer;

    &:hover {
        color: white;
        background: rgba(255, 255, 255, 0.2);
    }

    a {
        color: rgb(180, 180, 180);

        &:hover {
            color: white;
        }
    }
}

.item-action-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.2em;
    height: 3em;
    margin: 0.3em 0.15em;
    width: 4em;
    color: rgb(180, 180, 180);

    &:hover {
        color: white;
        background: rgba(255, 255, 255, 0.2);
    }
}

.dir-select {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.1em;
    color: rgb(180, 180, 180);
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.4em 0.7em;
    border-radius: 0.2em;
    font-size: 1.1em;
    border: 1px solid rgba(255, 255, 255, 0);

    &:hover {
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.2);
    }
}