@{
    ViewData["Title"] = "Help";
}

<div class="container-md">
    <h1>@ViewData["Title"]</h1>
    <p>
        This is FluffyJohn. A file-syncronization utility that stores your files securely.
    </p>
</div>
