@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="display-1 fj-title">FluffyJohn</div>
    <div class="h4">Your files, safe and sound, on a fluffy <strong>cloud</strong>.</div>
</div>