@model ErrorViewModel
@{
    ViewData["Title"] = $"Error {Context.Response.StatusCode}";
}

<h1 class="text-danger">Welp, there was an error processing your request! Sorry 'bout that!</h1>

<div>Here's some information about your request</div>

<div>Request ID:</div> <code>@Model.RequestId</code>
<div>HTTP Status Code: </div><code>@Context.Response.StatusCode</code>
