@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";

    string? dirPath = Url.RouteUrl(ViewContext.RouteData.Values);
    string? pwd = Directory.GetCurrentDirectory();
    
}   

<h1>Files Index</h1>
@dirPath

<br />

@pwd