@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;
@using fluffyjohn;
@using System.Net;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? reqDirPath = (string)Url!.RouteUrl(ViewContext.RouteData.Values)!.Substring("viewfiles".Length + 1).Replace("//", "/");
    reqDirPath = WebUtility.UrlDecode(reqDirPath);

    foreach (var character in reqDirPath) {
        reqDirPath = reqDirPath.Replace("//", "/");
    }

    if (reqDirPath.EndsWith("/") != true)
        reqDirPath += "/"; // Quick hack to remove the "/" prefixed in files and directory names

    string? hashedUsername = SecurityUtils.MD5Hash(User.Identity!.Name!);

    string? rootUserDir = $"{Directory.GetCurrentDirectory()}/UserFileStorer/{hashedUsername}/";
    string? currentTargetDir = $"{rootUserDir}/{reqDirPath}";
    bool routeExists = Directory.Exists(currentTargetDir);

    string[] fileEntries = { };
    string[] dirEntries = { };

    if (routeExists)
    {
        fileEntries = Directory.GetFiles(currentTargetDir);
        dirEntries = Directory.GetDirectories(currentTargetDir);
        PathFormatter.FormatEntries(ref fileEntries, reqDirPath, rootUserDir);
        PathFormatter.FormatEntries(ref dirEntries, reqDirPath, rootUserDir);
    }

    int fileEntryCount = fileEntries.Length;
    int dirEntryCount = dirEntries.Length;
}   

<head>
    <link rel="stylesheet" href="~/css/storage.css" />
    <link rel="stylesheet" href="~/css/toast.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
    <link rel="stylesheet" href="~/css/upload.css" />
</head>

<div id="toast-container"></div>


@{
    if (!routeExists)
    {
        <h1 class="text-danger">Route does not exist</h1>
        <div>You're entered a file path which does not exist.</div>
        return;
    }

    <h1>New</h1>
    <section style="width: 45%;">
        <form action="/files/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="uploads" multiple />
            <input type="submit" value="Upload File(s)">
        </form>
        <div style="font-weight: 700; color: rgba(255, 255, 255, 0.3); margin: 0 50%; font-size: 0.7em;">OR</div>
        <form action="/files/newdir" method="post">
            <input style="padding-left: 0.5em;" placeholder="Directory name" type="text" name="dirname" />
            <input type="submit" value="Create" />
        </form>
    </section>

    <div id="dir-selector">
        <a class="dir-select" href="/viewfiles/">Home/</a>

    </div> <br />


    if (fileEntryCount > 0)
    {
        <h1>Files (@fileEntryCount)</h1>

        for (int i = 0; i < fileEntryCount; i++)
        {
            string viewContentPath = $"viewcontent{reqDirPath}{fileEntries[i]}";
            string downloadFilePath = $"downloadfile{reqDirPath}{fileEntries[i]}";
            viewContentPath.Replace("//", "/");
            downloadFilePath.Replace("//", "/");

            <div>
                <div id="item-@i" class="item-entry-wrapper" onclick="javascript:document.location.href='/viewcontent\@reqDirPath@fileEntries[i]'"><a href="/viewcontent\@reqDirPath@fileEntries[i]" target="_blank">@fileEntries[i]</a></div>

                <a href="javascript:void(0);" onclick="renameItem('@reqDirPath@fileEntries[i]')" class="item-action-btn"> <img class="icon" src="~/svg/edit.svg" /> </a>
                <a href="javascript:void(0);" onclick="confirmDelete('@fileEntries[i]', '@reqDirPath@fileEntries[i]', true)" class="item-action-btn"> <img class="icon del-icon" src="~/svg/delete.svg" /> </a>
                <a class="item-action-btn" href="/@downloadFilePath"> <img class="icon" src="~/svg/download.svg" /> </a>
                <a class="item-action-btn" href="/@viewContentPath"> <img class="icon" src="~/svg/view.svg" /> </a>
                <a href="javascript:void(0);" onclick="copy('@reqDirPath@fileEntries[i]');" class="item-action-btn"> <img class="icon" src="~/svg/copy.svg" /></a>
                <a href="javascript:void(0);" onclick="javascript:handleSelect('@reqDirPath@fileEntries[i]', 'item-@i')" class="item-action-btn">S</a>

                <br />
            </div>
        }
    }

    <br />
    if (dirEntryCount > 0)
    {
        <h1>Folders (@dirEntryCount)</h1>

        for (int i = 0; i < dirEntryCount; i++)
        {
            string targetHref = $"/viewfiles/{reqDirPath}/{dirEntries[i]}/";
            string configuredHref = Utility.ConfigureDirHref(targetHref);
            int id = fileEntryCount + i;

            <div>
                <div id="item-@id" class="item-entry-wrapper itype-dir" onclick="javascript:window.location.href = '@configuredHref'" >
                    <!-- john you literal monkey. wanna know why dirs with spaces weren't working before?
                    you forgot the DAMN QUOTATION MARKS in the href attribute. -->
                    <a href='@configuredHref'>@dirEntries[i]/</a>
                </div>

                <a href="javascript:void(0);" onclick="renameItem('@reqDirPath/@dirEntries[i]', false)" class="item-action-btn"> <img class="icon" src="~/svg/edit.svg" /> </a>
                <a onclick="confirmDelete('@dirEntries[i]', '@reqDirPath@dirEntries[i]', false)" href="#" class="item-action-btn"> <img class="icon del-icon" src="~/svg/delete.svg" /> </a>
                <a href="javascript:void(0);" onclick="copy('@reqDirPath/@dirEntries[i]', false);" class="item-action-btn"> <img class="icon" src="~/svg/copy.svg" /></a>

                <a onclick="javascript:handleSelect('@reqDirPath@dirEntries[i]/', 'item-@id')" class="item-action-btn">S</a>

            </div>
        }
    }
}

<br /> <br />

<button class="multi-file-actions" onclick="paste()">Paste</button>
<button class="multi-file-actions" onclick="selectCopy()">Copy Selected Item(s)</button>
<button class="multi-file-actions" onclick="deleteCopy()">Delete Selected Item(s)</button>

<!--Make space for footer-->
<br />
<br />
<br />
<br />


<script src="~/js/toast.js"></script>
<script src="~/js/dirselect.js"></script>
<script src="~/js/storage.js"></script>
<script src="~/js/delete.js"></script>
<script src="~/js/rename.js"></script>
<script src="~/js/copy.js"></script>
<script src="~/js/paste.js"></script>
<script src="~/js/select.js"></script>