@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;
@using fluffyjohn;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? reqDirPath = (string)Url!.RouteUrl(ViewContext.RouteData.Values)!.Substring("ViewFiles".Length + 1).Replace("//", "/");
    reqDirPath += "/"; // Hack to remove the "/" prefixed in files and directory names

    string? encryptedUsername = SecurityUtils.MD5Hash(User.Identity!.Name!);

    string? rootUserDir = $"{Directory.GetCurrentDirectory()}/UserFileStorer/{encryptedUsername}/";
    string? currentTargetDir = $"{rootUserDir}/{reqDirPath}";

    string[] fileEntries = Directory.GetFiles(currentTargetDir);
    string[] dirEntries = Directory.GetDirectories(currentTargetDir);
}   

<h1>Files Index</h1>

<div id="dir-selector"></div>
<div>reqDirPath: @reqDirPath</div>
<div>currentTargetDir: @currentTargetDir</div>

@{
    for (int i = 0; i < fileEntries.Length; i++)
    {
        fileEntries[i] = fileEntries[i].Replace(rootUserDir, "");
        fileEntries[i] = fileEntries[i].Replace("\\", "/");
        fileEntries[i] = fileEntries[i].Replace("//", "/");

        try
        {
            fileEntries[i] = fileEntries[i].Replace(reqDirPath, "");
        } catch (ArgumentException) { }

        <div>@fileEntries[i]</div>
    }
}

@{
    for (int i = 0; i <  dirEntries.Length; i++)
    {
        dirEntries[i] = dirEntries[i].Replace(rootUserDir, "");
        dirEntries[i] = dirEntries[i].Replace("\\", "/");
        dirEntries[i] = dirEntries[i].Replace("//", "/");

        try
        {
            dirEntries[i] = dirEntries[i].Replace(reqDirPath, "");
        } catch (ArgumentException) { }

        string targetHref = $"/ViewFiles/{reqDirPath}/{dirEntries[i]}";

        for (int j = 0; j < targetHref.Split("/").Length; j++)
        {
            targetHref = targetHref.Replace("//", "/");
        }

        <a href=@targetHref>@dirEntries[i]/</a>
    }
}

<br />

<form action="/Files/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" multiple/>
    <input type="submit" />
</form>


<br /> <br />

