@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;
@using fluffyjohn.Utils.Security;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? reqDirPath = Url.RouteUrl(ViewContext.RouteData.Values);
    string? userFilesDirPath = "./UserFileStorer/" + SecurityUtils.MD5Hash(User.Identity!.Name!);

    string[] fileEntries = Directory.GetFiles(userFilesDirPath);

    string? fNames = "";

    foreach (var file in fileEntries)
    {
        fNames += file;
    }
}   


<h1>Files Index</h1>
<div>Path: @reqDirPath</div>

<br />

<form action="/Files/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" multiple/>
    <input type="submit" />
</form>

@fNames