@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;
@using fluffyjohn.Utils.Security;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? reqDirPath = (string)Url!.RouteUrl(ViewContext.RouteData.Values)!.Substring("ViewFiles".Length + 1);
    string? encryptedUsername = SecurityUtils.MD5Hash(User.Identity!.Name!);

    string? rootUserDir = $"{Directory.GetCurrentDirectory()}/UserFileStorer/{encryptedUsername}/";
    string? currentTargetDir = $"{rootUserDir}/{reqDirPath}";

    string[] fileEntries = Directory.GetFiles(currentTargetDir);
    string[] dirEntries = Directory.GetDirectories(currentTargetDir);
}   

<h1>Files Index</h1>

<div id="dir-selector"></div>
<div>reqDirPath: @reqDirPath</div>
<div>currentTargetDir: @currentTargetDir</div>

@foreach(var file in fileEntries)
{
    @file.Replace(rootUserDir, "") <br />
}

@foreach(var dir in dirEntries)
{
    <a>@dir.Replace(rootUserDir, "")/</a>
}

<br />

<form action="/Files/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" multiple/>
    <input type="submit" />
</form>


<br /> <br />

