@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? dirPath = Url.RouteUrl(ViewContext.RouteData.Values);
    string? userFilesDir = "./UserFileStorer/";

    string[] fileEntries = Directory.GetFiles(userFilesDir);

}   

<h1>Files Index</h1>
<div>Path: @dirPath</div>

<br />

<form method="post" enctype="multipart/form-data">

</form>