@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;
@using fluffyjohn;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? reqDirPath = (string)Url!.RouteUrl(ViewContext.RouteData.Values)!.Substring("ViewFiles".Length + 1).Replace("//", "/");
    reqDirPath += "/"; // Quick hack to remove the "/" prefixed in files and directory names

    string? encryptedUsername = SecurityUtils.MD5Hash(User.Identity!.Name!);

    string? rootUserDir = $"{Directory.GetCurrentDirectory()}/UserFileStorer/{encryptedUsername}/";
    string? currentTargetDir = $"{rootUserDir}/{reqDirPath}";

    string[] fileEntries = Directory.GetFiles(currentTargetDir);
    string[] dirEntries = Directory.GetDirectories(currentTargetDir);

    int fileEntryCount = fileEntries.Length;
    int dirEntryCount = dirEntries.Length;

    PathFormatter.FormatEntries(ref fileEntries, reqDirPath, rootUserDir);
    PathFormatter.FormatEntries(ref dirEntries, reqDirPath, rootUserDir);
}   

<h1>Files Index</h1>

<div id="dir-selector">


</div>

@{

    for (int i = 0; i < fileEntryCount; i++)
    {
        <div>@fileEntries[i]</div>
    }
}

@{
    for (int i = 0; i <  dirEntryCount; i++)
    {
        string targetHref = $"/ViewFiles/{reqDirPath}/{dirEntries[i]}";
        <a href=@Utility.ConfigureDirHref(targetHref)>@dirEntries[i]/</a>
    }
}

<br />

<form action="/Files/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" multiple />
    <input type="submit" />
</form>

<script src="~/js/dirselect.js"></script>